<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        
        <mat-card-content>
          <h2>Cursos</h2>
          <div class="serch">

          <button mat-raised-button (click)="addEditCurso()" >
            <mat-icon>add</mat-icon>
            Agregar Curso
          </button>
          <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
          </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
  
           
            <ng-container matColumnDef="Año">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
              <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="Division">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
              <td mat-cell *matCellDef="let element"> {{element.division}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="Ciclo Lectivo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciclo Lectivo </th>
              <td mat-cell *matCellDef="let element"> {{element.cicloLectivo}} </td>
                    
            </ng-container>
            
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
              <td mat-cell *matCellDef="let element"> 
                  <mat-icon (click)="addEditCurso(element.idCurso)" class="btnEdit" matTooltip="Editar">edit</mat-icon>
                  <mat-icon (click)="deleteCurso(element.idCurso)" class="btnDelete" matTooltip="Delete">delete</mat-icon>
                          
                </td>
           </ng-container>
            
           <ng-container matColumnDef="addAlumno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element" > 
            <mat-icon (click)="addAlumno(element.idCurso)" class="btnEdit" matTooltip="Agregar Alumno">person_add</mat-icon>
          </td>
          </ng-container>

          <ng-container matColumnDef="Informes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element" > 
          
            <button mat-raised-button (click)="informes(element.idCurso)" >
              <mat-icon>add_circle</mat-icon>
              Generar Informes
            </button>
          </td>
          </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
          
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>